@charset "utf-8";
@import "normalize";



body {
  background-image: url(/images/back.jpg);
  background-repeat: repeat;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","ヒラギノ角ゴ ProN", Meiryo, sans-serif;
}

$main-color: #003894 !default;
$sub-color: #deddef !default;
$white: #ffffff !default;

.container {
  padding: 0;
  .row {
    padding: 0;
    margin: auto;
  }
}

.white {
  color: #ffffff;
}

.main-color {
  color: $main-color;
}

.txt-small {
  font-size: 12px;
}

.txt-lighter {
  font-weight: lighter;
}

.txt-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.bg-main-color {
  background-color:  $main-color;
}

.bg-sub-color {
  background-color: $sub-color;
}

.border-bottom-black {
  border-bottom: 1px solid #000000;
}

.border-bottom-white {
  border-bottom: 1px solid $white
}

.border-white {
  border-color: $white;
}

.bg-sub-line {
  height: 22px;
}

.bg-sub-line-collapse {
  height: 48px;
}

.txt-sub-line {
  line-height: 22px;
}

.txt-sub-line-collapse {
  line-height: 48px;
}

.btn {
  width: 85px;
}


li {
  list-style: none;
}

ul.ul-basic {
  background-color: $white;
  li.li-basic {
    margin-left: 1rem;
    padding: 1rem 0;
  }
}


//ここから上は基本的な要素-----------------------------

nav.math-doctor {
  img.logo {
    width: 140px;
  }
}

//mainいれるとしたら----------------------------------

.main {
  background-color: gray;
}

//mainいれるとしたら----------------------------------

//カテゴリーのリストのところーーーーーーーーーーーーーーーーー

.categories {
  margin-top: 35px;
}

.card {
  border: none;
  border-radius: 0;
  p {
    display: inline-block;
    text-align: left;
  }
  i {
    float: right;
    line-height: 48px;
  }
}

//カテゴリーのリストのところーーーーーーーーーーーーーーーーー



footer {
  margin-top: 35px;
  ul.footer-list {
    li.footer-li-flo {
       float: left;
    }
  }
}

//以下はcolのテスト用の色つけーーーーーーーーーーーーーーーーーーーーー
.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-silver {
  background-color: silver;
}
