@charset "utf-8";
@import "normalize";



body {
  background-image: url(/images/back.jpg);
  background-repeat: repeat;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","ヒラギノ角ゴ ProN", Meiryo, sans-serif;
}

$main-color: #003894 !default;
$sub-color: #deddef !default;
$white: #ffffff !default;

.container {
  padding: 0;
}

.white {
  color: #ffffff;
}

.main-color {
  color: $main-color;
}

.txt-small {
  font-size: 12px;
}

.txt-lighter {
  font-weight: lighter;
}

.txt-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.bg-main-color {
  background-color:  $main-color;
}

.bg-sub-color {
  background-color: $sub-color;
}

.border-bottom-black {
  border-bottom: 1px solid #000000;
}

.border-bottom-white {
  border-bottom: 1px solid $white
}

.bg-line {
  padding: 5px 0px;
}

.bg-sub-line {
  height: 22px;
}

.bg-sub-line-collapse {
  height: 46px;
}

.txt-sub-line {
  line-height: 22px;
}

.txt-sub-line-collapse {
  line-height: 46px;
}

.btn {
  width: 85px;
}


li {
  list-style: none;
}

ul.ul-basic {
  background-color: $white;

  li.li-basic {
    padding: 15px 0px;
    margin-left: 16px;
  }
}

nav.math-doctor {
  img.logo {
    width: 140px;
    padding-left: 16px;
  }
}

.main {
  background-color: gray;
}

.categories {
  margin-top: 35px;
  p {
    margin-bottom: 0px;
  }
}

.card {
  padding: 0px;
  border-radius: 0;
  border: none;
  .card-header {
    margin: 0px;
    padding: 0px;
    p {
      padding-left: 16px;
      margin: 0px;
      display: inline-block;
      text-align: left;
    }
    i {
      float: right;
      padding-right: 16px;
      line-height: 46px;
    }
  }
}

footer {
  margin-top: 35px;
  .footer-inner {
    padding: 16px 16px;
  }
  ul.footer-list {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    li.footer-li-flo {
       float: left;
       margin-right: 6px;
    }
  }
}


.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-skyblue {
  background-color: skyblue;
}

.bg-silver {
  background-color: silver;
}

.box-left {
  padding-left: 0;
  padding-right: 10px
}

.box-center {
  padding: 0 10px;
}

.box-right {
  padding-left: 10px;
}

.left {
  padding-left: 0;
}
